body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8; 
    color: #333;
}

nav {
    text-align: center;
    background-color: #002776;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold; 
}

.secao {
    background-color: #ffffff; 
    border-radius: 10px; 
    
    margin: 20px auto; 
    padding: 20px;

    width: 80%;
    
    text-align: center; 
}

.secao h2 {
    font-size: 24px; 
    font-weight: bold; 
    color: #002776;
    margin-bottom: 10px;
}

.secao p {
    font-size: 16px;
    color: #444;
}

.botao {
    text-align: center;
    margin: 20px;
}

button {
    background-color: #002776;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}